<footer class="bg-primary mt-auto text-center text-muted">
    <div class="text-foot">
        <p>©2022- Wild Series - All rights reserved</p>
    </div>
    <div class="img-foot">
        <a class="foot-link-img" href="https://www.facebook.com/"><img alt="Facebook" src="{{ asset('build/images/facebook.png') }}" class="img-responsive" /></a>
        <a class="foot-link-img" href="https://www.instagram.com/"><img alt="Instagram" src="{{ asset('build/images/instagram.png') }}" class="img-responsive" /></a>
        <a class="foot-link-img" href="https://twitter.com/"><img alt="Twitter" src="{{ asset('build/images/twitter.png') }}" class="img-responsive" /></a>
    </div>  
</footer>