{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<section>
    <body id="homepage">
        <div class="home">
            <div class="logo-home">
                <img class="img-fluid" src="{{ asset('build/images/logo.jpeg') }}" alt="logo"/>
            </div>
            <div class="text-home">
                <h1>{{ website }}</h1>
            </div>
        </div>
    </body>
</section>
{% endblock %}

    